openapi: 3.0.0
info:
  title: Game Night API
  description: API for managing Game Night events, users, and games.
  version: 1.0.0
servers:
  - url: http://localhost:3000
    description: Local development server
  - url: https://game-night-api-e4x9.onrender.com
    description: Production server

tags:
  - name: Auth
    description: Authentication endpoints
  - name: Users
    description: User management endpoints
  - name: Events
    description: Event management endpoints
  - name: Games
    description: Game management endpoints
  - name: Votes
    description: Voting endpoints

paths:
  /api/auth/signup:
    $ref: 'paths/auth.yaml#/~1api~1auth~1signup'
  /api/auth/login:
    $ref: 'paths/auth.yaml#/~1api~1auth~1login'
  /api/users:
    $ref: 'paths/users.yaml#/~1api~1users'
  /api/users/me:
    $ref: 'paths/users.yaml#/~1api~1users~1me'
  /api/users/{id}/role:
    $ref: 'paths/users.yaml#/~1api~1users~1{id}~1role'
  /api/events/host:
    $ref: 'paths/events.yaml#/~1api~1events~1host'
  /api/events:
    $ref: 'paths/events.yaml#/~1api~1events'
  /api/events/{id}:
    $ref: 'paths/events.yaml#/~1api~1events~1{id}'
  /api/events/{id}/join:
    $ref: 'paths/events.yaml#/~1api~1events~1{id}~1join'
  /api/events/{id}/votes:
    $ref: 'paths/events.yaml#/~1api~1events~1{id}~1votes'
  /api/games:
    $ref: 'paths/games.yaml#/~1api~1games'
  /api/games/{id}:
    $ref: 'paths/games.yaml#/~1api~1games~1{id}'
  /api/votes:
    $ref: 'paths/votes.yaml#/~1api~1votes'
  /api/votes/{id}:
    $ref: 'paths/votes.yaml#/~1api~1votes~1{id}'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    User:
      $ref: 'components/schemas/User.yaml'
    Event:
      $ref: 'components/schemas/Event.yaml'
    Game:
      $ref: 'components/schemas/Game.yaml'
    Vote:
      $ref: 'components/schemas/Vote.yaml'

security:
  - bearerAuth: []
